<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mobius Category"
            id="org.polarsys.chess.mobius.commands.category">
      </category>
      <command
            name="Transformation Command"
            categoryId="org.polarsys.chess.mobius.commands.category"
            id="org.polarsys.chess.mobius.commands.TransformationCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.polarsys.chess.mobius.commands.TransformationCommand"
            class="org.polarsys.chess.mobius.handlers.TransformationHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.polarsys.chess.mainMenu"
               label="CHESS"
               mnemonic="E">
            <menu
                  id="chess.menu.dependability.id"
                  label="Dependability">
               <command
                     commandId="org.polarsys.chess.mobius.commands.TransformationCommand"
                     label="Generate Mobius Project"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.chess.preferences"
            class="org.polarsys.chess.mobius.preferences.MobiusPreferencePage"
            id="org.polarsys.chess.mobius.page"
            name="Mobius Preferences">
      </page>
   </extension>
   <extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
  	<unit name="SANJavaLib" namespace="chess">
	    <library name="UtilLib" 
	             class="org.polarsys.chess.mobius.utils.QVTBlackBox">
	       <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
           <metamodel nsURI="http://www.eclipse.org/papyrus/MARTE/1"/>
           <metamodel nsURI="http://CHESS"/>
           <metamodel nsURI="http://www.eclipse.org/uml2/2.0.0/UML"/>
           <metamodel nsURI="http://www.polarsys.org/chess/SAN"/>
	    </library>
  	</unit>
</extension>


</plugin>
