<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.cleanCExporter.ui.commands.ExportNominalSMsToCleanCFilesCommand"
            id="org.polarsys.chess.cleanCExport.commands.ExportNominalSMsToCleanCFilesCommand"
            name="Export state machines as .c files">
      </command>
      <command
            defaultHandler="org.polarsys.chess.cleanCExporter.ui.commands.ExportSelectedNominalSMsToCleanCFilesCommand"
            id="org.polarsys.chess.cleanCExport.commands.ExportSelectedNominalSMsToCleanCFilesCommand"
            name="Export state machines of selected component or its sub-components as .c files">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu.CHESS.basicOperation">
         <command
               commandId="org.polarsys.chess.cleanCExport.commands.ExportNominalSMsToCleanCFilesCommand"
               icon="icons/export.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
         <menu
               id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
               label="Basic Operations">
            <command
                  commandId="org.polarsys.chess.cleanCExport.commands.ExportSelectedNominalSMsToCleanCFilesCommand"
                  icon="icons/export.gif"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
