<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
                     label="Basic Operations">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
                        icon="icons/export.gif"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.validation"
                     label="Validation">
                  <command
                        commandId="org.polarsys.chess.verificationService.ui.commands.CheckValidationAssertionPropertyCommand"
                        icon="icons/contract_verification.png"
                        label="Check Validation on Properties on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
                        icon="icons/contract_verification.png"
                        label="Check Validation on Assumption/Guarantee Properties on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.funcVer"
                     label="Functional Verifications">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
                        icon="icons/contract_verification.png"
                        label="Check Contract Refinement on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
                        icon="icons/contract_verification.png"
                        label="Model Checking on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
                        icon="icons/contract_verification.png"
                        label="Check Contract Implementation on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
                        icon="icons/contract_verification.png"
                        label="Check Composite Contract Implementation on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:org.polarsys.chess.mainMenu?after=chess.menu.argumentation.id">
               <menu
                     id="chess.menu.importexport.id"
                     label="Import/Export">
                  <menu
                        id="chess.menu.basicoperations.id"
                        label="OSS/SMV">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
                           icon="icons/export.gif"
                           style="push">
                     </command>
                  </menu>
               </menu>
               <menu
                     id="chess.menu.validation.id"
                     label="Validation">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
                        icon="icons/contract_verification.png"
                        label="Validation Check on Assumption/Guarantee Properties on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.ui.commands.CheckValidationAssertionPropertyCommand"
                        icon="icons/contract_verification.png"
                        label="Validation Check on Properties on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:org.polarsys.chess.mainMenu?after=chess.menu.validation.id">
               <menu
                     id="chess.menu.functverification.id"
                     label="Functional Verification">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
                        icon="icons/contract_verification.png"
                        label="Check Contract Refinement on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
                        icon="icons/contract_verification.png"
                        label="Model Checking on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
                        icon="icons/contract_verification.png"
                        label="Check Contract Implementation on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
                        icon="icons/contract_verification.png"
                        label="Check Composite Contract Implementation on selected component"
                        style="push">
                     <parameter
                           name="waitJobExec"
                           value="true">
                     </parameter>
                  </command>
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:org.polarsys.chess.mainMenu?after=chess.menu.debug.id">
               <menu
                     id="chess.menu.debug.id"
                     label="//Debug Operations">
                  <menu
                        label="Basic Operations">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.RuntimeErrorsOnFileCommand"
                           style="push">
                     </command>
                     <command
                           commandId="org.polarsys.chess.verificationService.ui.commands.debug.RuntimeErrorsOnSMVFileCommand"
                           style="push">
                     </command>
                  </menu>
                  <menu
                        id="chess.menu.debug.validation.id"
                        label="Validation">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.CheckValidationPropertyOnFileCommand"
                           icon="icons/contract_verification.png"
                           style="push">
                     </command>
                  </menu>
                  <menu
                        id="chess.menu.debug.functverification.id"
                        label="Functional Verification">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ContractRefinementOnFileCommand"
                           icon="icons/contract_verification.png"
                           style="push">
                     </command>
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ContractImplementationOnFileCommand"
                           icon="icons/contract_verification.png"
                           style="push">
                     </command>
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ModelCheckingOnFileCommand"
                           icon="icons/contract_verification.png"
                           style="push">
                     </command>
                  </menu>
               </menu>
            </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.ContractRefinementCommand"
            id="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
            name="Check Contract Refinement on selected component">
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.RuntimeErrorsOnOSSFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.RuntimeErrorsOnFileCommand"
            name="Check Grammar on .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.ContractRefinementOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.ContractRefinementOnFileCommand"
            name="Check Contract Refinement on .oss file">
      </command>
       <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.ContractImplementationOnFileCommand"
            			id="org.polarsys.chess.verificationService.commands.debug.ContractImplementationOnFileCommand"
            name="Check Contract Implementation on .oss and .smv files">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.ExportModelToFileCommand"
            id="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
            name="Export model as .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.ContractImplementationCommand"
            id="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
            name="Check Contract Implementation on selected component">
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.ModelCheckingCommand"
            id="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
            name="Model Checking on selected component">
         <commandParameter
               id="isDiscrete"
               name="isDiscrete"
               optional="true">
         </commandParameter>
         <commandParameter
               id="elementURI"
               name="elementURI"
               optional="true">
         </commandParameter>
         <commandParameter
               id="projectName"
               name="projectName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="modelName"
               name="modelName"
               optional="true">
         </commandParameter>
         	<commandParameter
               id="property"
               name="Property"
               optional="true">
         </commandParameter>
         <commandParameter
               id="algorithm_type"
               name="AlgorithmType"
               optional="true"
               values="bmc, bdd, ic3, klive">
         </commandParameter>
         <commandParameter
               id="check_type"
               name="CheckType"
               optional="true"
               values="invar, ltlspec, ctl">
         </commandParameter>
         <commandParameter
               id="projectPath"
               name="projectPath"
               optional="true">
         </commandParameter>
         <commandParameter
               id="isProgrExec"
               name="isProgrExec"
               optional="true">
         </commandParameter>
         <commandParameter
               id="resultFilePath"
               name="resultFilePath"
               optional="true">
         </commandParameter>
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
         
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.ModelCheckingOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.ModelCheckingOnFileCommand"
            name="Model Checking on .smv file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.CheckValidationContractPropertyCommand"
            id="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
            name="Check Validation on Assumption/Guarantee Properties on selected component">
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.CheckValidationPropertyOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.CheckValidationPropertyOnFileCommand"
            name="Check Validation Property on .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.CompositeContractImplementationCommand"
            id="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
            name="Check Composite Contract Implementation on selected component">
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.debug.RuntimeErrorsOnSMVFileCommand"
            id="org.polarsys.chess.verificationService.ui.commands.debug.RuntimeErrorsOnSMVFileCommand"
            name="Check Grammar on .smv file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.ui.commands.CheckValidationAssertionPropertyCommand"
            id="org.polarsys.chess.verificationService.ui.commands.CheckValidationAssertionPropertyCommand"
            name="Check Validation on Properties on selected component">
         <commandParameter
               id="waitJobExec"
               name="waitJobExec"
               optional="true">
         </commandParameter>
      </command>
   </extension> 
</plugin>
