<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fmea -->
      <package
            uri="http://www.polarsys.org/chess/mbsanice/fmea"
            class="fmea.FmeaPackage"
            genModel="model/fmea.genmodel"/>
   </extension>

</plugin>
