<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.polarsys.chess.monitoring.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.polarsys.chess.monitoring.menu1"
               label="CHESS"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.polarsys.chess.monitoring.monitoringxml.popup.actions.LaunchTraceAnalysis"
               enablesFor="1"
               id="org.polarsys.chess.monitoring.action01"
               label="Monitoring Trace Analysis"
               menubarPath="org.polarsys.chess.monitoring.menu1/group1">
         </action>
         <action
               class="org.polarsys.chess.monitoring.monitoringxml.popup.actions.LaunchBackpropagation"
               enablesFor="1"
               id="org.polarsys.chess.monitoring.action02"
               label="Monitoring Backpropagation"
               menubarPath="org.polarsys.chess.monitoring.menu1/group1">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated monitoring -->
      <package
            uri="http://www.mdh.se/concerto/monitoring/xml/monitoringxml"
            class="org.polarsys.chess.monitoring.monitoringxml.MonitoringxmlPackage"
            genModel="model/monitoring.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.chess.preferences"
            class="org.polarsys.chess.monitoring.preferences.MonitoringPreferencePage"
            id="org.polarsys.chess.monitoring.preferences.MonitoringPreferencePage"
            name="Monitoring Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.chess.monitoring.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id?after=org.polarsys.chess.patterns.id">
         <menu
               label=" Monitoring">
            <command
                  commandId="org.polarsys.chess.monitoring.importLogcommand"
                  label="Import Log"
                  style="push">
                   <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.polarsys.chess.monitoring.importCommand"
            name="importLogCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.chess.monitoring.monitoringxml.popup.actions.ImportLogHandler"
            commandId="org.polarsys.chess.monitoring.importLogcommand">
      </handler>
   </extension>

</plugin>
