<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.polarsys.chess.mainMenu"
               label="CHESS"
               mnemonic="E">
   <menu
		id="chess.menu.argumentation.id"
		label="Argumentation">
   </menu>
   <separator
         name="org.polarsys.chess.mainmenu.separator1"
         visible="true">
   </separator>
   <menu
         id="chess.menu.importexport.id"
         label="Import/Export">
      <menu
            id="chess.menu.basicoperations.id"
            label="OSS/SMV">
      </menu>
   </menu>
   <menu
         id="chess.menu.safetycase.id"
         label="Safety Case">
   </menu>
   <menu
         id="chess.menu.multicore.id"
         label="Multicore Support">
   </menu>
   <separator
         name="org.polarsys.chess.mainmenu.separator2"
         visible="true">
   </separator>
   <menu
         id="chess.menu.validation.id"
         label="Validation">
   </menu>
   <menu
         id="chess.menu.functverification.id"
         label="Functional Verification">
      <separator
            name="org.polarsys.chess.mainmenu.functverification.separator1"
            visible="true">
      </separator>
   </menu>
   <menu
         id="chess.menu.dependability.id"
         label="Dependability">
      <separator
            name="org.polarsys.chess.mainmenu.dependability.separator1"
            visible="true">
      </separator>
      <separator
            name="org.polarsys.chess.mainmenu.dependability.separator2"
            visible="true">
      </separator>
   </menu>
   <menu
         id="chess.menu.realtime.id"
         label="Real-Time">
   </menu>
   <separator
         name="org.polarsys.chess.mainmenu.separator4"
         visible="true">
   </separator>
   <menu
         id="chess.menu.codegen.id"
         label="Code Generation">
   </menu>
   <separator
         name="org.polarsys.chess.mainmenu.separator3"
         visible="true">
   </separator>
   <menu
         id="chess.menu.filters.id"
         label="Filters">
   </menu>
   <menu
         id="chess.menu.tests.id"
         label="Tests">
   </menu>
   <menu
         id="chess.menu.debug.id"
         label="//Debug Operations">
      <menu
            id="chess.menu.debug.basicoperations.id"
            label="OSS/SMV">
      </menu>
      <separator
            name="org.polarsys.chess.mainmenu.debug.separator1"
            visible="true">
      </separator>
      <menu
            id="chess.menu.debug.functverification.id"
            label="Functional Verification">
      </menu>
      <menu
            id="chess.menu.debug.dependability.id"
            label="Dependability">
      </menu>
      <menu
            id="chess.menu.debug.validation.id"
            label="Validation">
      </menu>
   </menu>
         </menu>
      </menuContribution>
  </extension> 

</plugin>
