<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.polarsys.chess.addprofile">
      <client class="org.polarsys.chess.iot.extension.managers.ApplyCHESSIoTProfile"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="GenerateArduino"
            name="For Arduino">
      </command>
      <command
            id="GenerateC"
            name="For C">
      </command>
      <command
            id="GenerateCPP"
            name="For C++">
      </command>
      <command
            id="deployemntartifacts"
            name="Generate Deployment Artifacts">
      </command>

      <command
            id="GenerateJava"
            name="For Java">
      </command>
      <command
            id="exportToLowcomotive"
            name="Export Model to Lowcomotive repository">
      </command>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.chess.iot.extension.handlers.CallGenerateThingMLgenerator"
            commandId="GenerateJava">
      </handler>
      <handler
            class="org.polarsys.chess.iot.extension.handlers.GenerateDeploymentArtifacts"
            commandId="deployemntartifacts">
      </handler>
      <handler
            class="org.polarsys.chess.iot.extension.handlers.UploadModelsToRepo"
            commandId="exportToLowcomotive">
      </handler>
      <handler
            class="org.polarsys.chess.iot.extension.handlers.CallGenerateThingMLgenerator"
            commandId="GenerateArduino">
      </handler>
      <handler
            class="org.polarsys.chess.iot.extension.handlers.CallGenerateThingMLgenerator"
            commandId="GenerateC">
      </handler>
      <handler
            class="org.polarsys.chess.iot.extension.handlers.CallGenerateThingMLgenerator"
            commandId="GenerateCPP">
      </handler>
      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.ihirwe.iot.extension.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.chess.mainMenu?after=chess.menu.tests.id">

         <menu
               id="chess.menu.debug.idd"
               label="CHESSIoT">
                        <menu
                  id="chess.menu.debug.idd2"
                  label="GenerateThingMLmodel">
               <command
                     commandId="GenerateArduino"
                     icon="/icons/CHESSicon.gif"
                     style="push"
                     tooltip="Generate ThingML model for Arduino">
               </command>
               <command
                     commandId="GenerateC"
                     icon="/icons/CHESSicon.gif"
                     style="push"
                     tooltip="Generate ThingML model for C">
               </command>
               <command
                     commandId="GenerateCPP"
                     icon="/icons/CHESSicon.gif"
                     style="push"
                     tooltip="Generate ThingML model for C++">
               </command>
               <command
                     commandId="GenerateJava"
                     icon="/icons/CHESSicon.gif"
                     style="push"
                     tooltip="Generate ThingML model for Java">
               </command>
            </menu>
            <command
                  commandId="deployemntartifacts"
                  icon="/icons/CHESSicon.gif"
                  style="push"
                  tooltip="Generate Deployment Artifacts">
            </command>
            <command
                  commandId="exportToLowcomotive"
                  icon="/icons/CHESSicon.gif"
                  style="push"
                  tooltip="Export Model to Lowcomotive repository">
            </command>
         </menu>
      </menuContribution>  
      
      
      
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.polarsys.chess.iot.extension.listerners"
            realization="org.polarsys.chess.iot.extension.listerners.ActionListerner">
      </listener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.polarsys.chess.iot.extension.listerners2"
            realization="org.polarsys.chess.iot.extension.listerners.IoTEventListerner">
      </listener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.polarsys.chess.iot.extension.listerners3"
            realization="org.polarsys.chess.iot.extension.listerners.IoTConnectorListerner">
      </listener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.polarsys.chess.iot.extension.listerners4"
            realization="org.polarsys.chess.iot.extension.listerners.SystemProfileListerner">
      </listener>
   </extension>

</plugin>
