<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.polarsys.org/chess/iot/RuntimeDsl"
			class = "org.polarsys.chess.iot.runtimeDsl.RuntimeDslPackage"
			genModel = "model/generated/RuntimeDsl.genmodel" />
	</extension>
</plugin>
