<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="RunCheckers"
               label="Run Checkers">
            <command
                  commandId="org.polarsys.chess.checkers.ui.commands.runCheckers"
                  icon="icons/checker.png"
                  label="Run Checkers"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.checkers.ui.commands.RunCheckers"
            id="org.polarsys.chess.checkers.ui.commands.runCheckers"
            name="Run Checkers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.polarsys.chess.checkers.ui.preferences.ModelCheckingPreferencePage"
            id="org.polarsys.chess.checkers.ui.preferences.ModelCheckingPreferencePage"
            name="Checkers">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.chess.checkers.ui.preferences.ModelCheckingPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
